<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.aa.MemberMapper">

	<resultMap type="com.kitri.aa.Member" 
	id="MemberResultMap">
		<result property="num" column="NUM" />
		<result property="name" column="NAME" />
		<result property="tel" column="TEL" />
		<result property="address" column="ADDRESS" />
	</resultMap>

	
	<select id="getMembers" resultMap="MemberResultMap">
		SELECT * FROM addr
	</select>
	
	<select id="getMember" resultMap="MemberResultMap" 
	parameterType="int">
		SELECT * FROM addr where num=#{num}
	</select>
	
	<insert id="insertMember" 
	parameterType="com.kitri.aa.Member" >
		INSERT INTO addr 
		values(seq_addr.nextval, #{name}, #{tel},#{address})
	</insert>
	
	<update id="updateMember" parameterType="com.kitri.aa.Member">
	update addr set tel=#{tel},
	address=#{address}, name=#{name} where num=#{num}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		delete addr where num=#{num}
	</delete>


</mapper>
